$primary: '#0a2463';
$success: '#136f63';
$warning: '#e0ca3c';
$danger: '#c03221';
$muted: '#8da9c4';

$theme-colors: (
  'primary': $primary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'muted': $muted,
);
